streamlit==1.29.0
streamlit-option-menu==0.3.12
streamlit-webrtc==0.47.1
mediapipe==0.10.9
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
pickleshare==0.7.5
numpy==1.23.5
av==11.0.0
twilio==8.11.0